.App {
  text-align: center;
  padding: 20px;
}

.App.dark {
  background-color: #333;
  color: #fff;
}

.App.dark .selected-link {
  color: #bbb;
}
.App.dark .selected-link:hover {
  color: #fff;
}

header {
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

nav ul li {
  margin-right: 10px;
  cursor: pointer;
}

h1 {
  margin-bottom: 20px;
}

button {
  padding: 10px;
}


